/*
contact.css
*/

body {
	height: 100%;
	margin: 0;
	padding: 10px 10px;
	color: #3b3b3b;
	font-family: "Sarabun", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* navbar */
.navbar {
  	overflow: hidden;
}

.navbar img{
	margin: 0;
	max-width: 50px;
}

.navbar a {
	float: left;
	display: block;
	color: #3b3b3b;
  	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar .icon {
	display: none;
	font-size: 20px;
	margin-top: 12px;
	color: #555;
}

.navbar a.icon:hover {
	color: #ddd;
}

.navbar .nav-right {
  	float: left;
  	display: block;
  	text-align: center;
	margin-top: 12px; 
}

a.nav-right{
	display: block;
	overflow: hidden;
	float: right;
}

a.nav-right:hover {
	text-decoration: underline;
}

/* navbar @ 600px */
@media screen and (max-width: 600px) {
	/* mobile navbar */
	.navbar .nav-right {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}

	/* +repsonsive */
	.navbar.responsive {
		position: relative;
		transition: 0.5s;	
	}

	/* mobile navbar, fix position of the
	icon after opened */
	.navbar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
  	}

  	/* mobile navbar, list items */
  	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
  	}

  	.navbar.responsive a.nav-right {
		float: none;
		display: block;
		text-align: center;
		margin: 0px 16px;
		padding: 10px 0px;
		background: #f9f9f9;
  	}

	.navbar.responsive a.nav-right:hover{
		background: #eee;
		transition: 0.5s;	
  	}
}

/* main body */
.body-container {
	/* padding left & right */
	padding: 0px 16px;
}

/* ===== contact.html ===== */
.blank {
		box-sizing: border-box;
		padding: 0px 0px;
		margin-bottom: 80px;
}

.col-text {
	/* border: 1px solid black; */
	box-sizing: border-box;
	display: inline-block;
	padding: 0px 20px;
	width: 80%;	
}

.sm-logo img {
	margin-right: 6px;
	max-width: 22px;
	filter: opacity(75%);
}

[class*="col-"] {
	float: left;
}

* {
	box-sizing: border-box;
}

/* tablet devices */
@media only screen and (max-width: 800px){
	[class*="col-"] {
		width: 100%;
	}

	.blank {
		box-sizing: border-box;
		padding: 0px 0px;
		margin-bottom: 80px;
	}
}

/* mobile devices */
@media only screen and (max-width: 600px) {
	[class*="col-"] {
		width: 100%;
	}

	.blank {
		box-sizing: border-box;
		padding: 0px 0px;
		margin-bottom: 100px;
	}

}

/* ===== contact.html ===== */








